<main>
    <div class="page-content">
        <div class="content container" style="overflow:hidden;">
            <div class="tab-list" style=" height: 40px;background: rgba(0,0,0,0.4);">
                <a class="tab-item active" style="display: inline-block;border-left: 5px solid #1fb5ad;padding: 10px;">挖矿列表</a>
            </div>
            <div class="widget-content example_alt_pagination">
                <div class="search-box">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="control-label">手机号：</label>
                            <input type="text" class="form-control" placeholder="手机号" ng-model="params.phone">
                        </div>
                        <div class="form-group">
                            <label class="control-label">交易对：</label>
                            <select class="form-control" ng-model="params.transPair" name="transPair">
                                <option value="">全部</option>
                                <option ng-repeat="i in transList" value="{{i.transPair}}">{{i.transPair}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">成交开始时间：</label>
                            <input size="16" type="text" ng-model="params.startTime" readonly class="form_datetime">
                        </div>
                        <div class="form-group">
                            <label class="control-label">成交结束时间：</label>
                            <input size="16" type="text" ng-model="params.endTime" readonly class="form_datetime">
                        </div>
                        <div class="form-group">
                            <label class="control-label">交易类型：</label>
                            <select class="form-control" ng-model="params.transType">
                                <option value="">全部</option>
                                <option value="1">限价交易</option>
                                <option value="2">市价交易</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">返还状态：</label>
                            <select class="form-control" ng-model="params.status">
                                <option value="">全部</option>
                                <option value="0">待发放</option>
                                <option value="1">已发放</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="searchFun(0)">搜索</button>
                            <button class="btn btn-default" ng-click="searchFun(1)">重置</button>
                        </div>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                        <tr>
                            <th>成交单号</th>
                            <th>手机号</th>
                            <th>交易对</th>
                            <th>交易类型</th>
                            <th>交易价格</th>
                            <th>成交数量</th>
                            <th>成交总额</th>
                            <th>成交时间</th>
                            <th>手续费</th>
                            <th>返还比例</th>
                            <th>返还总量(HYKT)</th>
                            <th>返还状态</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>