<div class="container-full register sign-up" style="background: url('img/bg_login.jpg') no-repeat center top;background-size: 100%;">
	<h4 style="color: #fff;text-align: center;margin-bottom: 2rem;">{{lang.lang176}}</h4>
	<div class="container bg-light" style="width:36.5rem;padding: 1rem; padding-bottom: 5rem; border-radius: 5px;">
		<!-- {{productId}}{{name}} -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" ng-click="regTypeChange(1)">{{lang.lang177}}</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" ng-click="regTypeChange(2)">{{lang.lang178}}</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent" style=" margin-top: 1rem;">
			<!-- 手机注册表单 -->
		  <div class="tab-pane fade show active padding20" id="home" role="tabpanel" aria-labelledby="home-tab">
		  	<form class="needs-validation" novalidate name="registerForm" >
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang149}}：</label>
			    <div class="col-sm-8">
					<select ng-show="language == 2" class="custom-select" name="countryItem"  ng-model="countryItem" ng-options=" item as item.nameEn for item in countryList" required ng-change="selectCountry()" >
					  	<!-- <option value="">{{lang.lang156}}</option> -->
					</select>
					<select ng-show="language == 1" class="custom-select" name="countryItem"  ng-model="countryItem" ng-options=" item as item.name for item in countryList" required ng-change="selectCountry()" >
					  	<!-- <option value="">{{lang.lang156}}</option> -->
					</select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang179}}：</label>
			    <div class="col-sm-8">
			      <div class="input-group">
					  <div class="input-group-prepend">
					    <button class="btn " type="button" >{{mobileArea}}</button>
					    <!-- <button class="btn btn-outline-secondary dropdown-toggle" type="button"  aria-haspopup="true" aria-expanded="false">{{mobileArea}}</button>
					    <div class="dropdown-menu">data-toggle="dropdown"
					      <a class="dropdown-item" href="#">0086</a>
					      <a class="dropdown-item" href="#">0086</a>
					      <a class="dropdown-item" href="#">0086</a>
					    </div> -->
					  </div>
					  <!-- ng-pattern="mobileArea == '+86' ? '/^[1][3456789][0-9]{9}$/' : '' " -->
					  <input type="text" class="form-control" name="account" ng-model="phoneParams.account" required ng-keyup="phoneValid()"  >
					</div>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang42}}：</label>
			    <div class="col-sm-8">
			      <div class="input-group">
					  <input type="text" class="form-control"  required ng-model="phoneParams.capCode" name="capCode" >
					  <div class="input-group-append" ng-click="getCaptcha()" >
					    <button class="btn btn-outline-secondary padding0" type="button"><img style="width: 105px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
					  </div>
					</div>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang44}}：</label>
			    <div class="col-sm-8">
			      <div class="input-group">
					  <input type="text" class="form-control"  required ng-model="phoneParams.code" name="code" >
					  <div class="input-group-append">
					    <button class="btn btn-outline-secondary" type="button" ng-click="getphoneCodefun('sendButton_reg')" id="sendButton_reg" >{{lang.lang46}}</button>
					  </div>
					</div>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang120}}：</label>
			    <div class="col-sm-8">
			      <input type="password" class="form-control"  required ng-model="phoneParams.pwd"  name="pwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$" >
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang123}}：</label>
			    <div class="col-sm-8">
			      <input type="password" class="form-control"  required ng-model="phoneParams.secondPwd"  name="secondPwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$" >
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang356}}：</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control"   ng-model="params.inviteCode"  name="inviteCode" >
			    </div>
			  </div>
			  <div class="form-group text-center">
			    <div class="form-check">
			      <input class="form-check-input" type="checkbox" name="phoneCheck" ng-model="phoneCheck" required>
			      <label class="form-check-label" for="phoneCheck">
			        {{lang.lang180}}<a class="text-primary cursorClass" target="_blank" ui-sref="logged.useragreement" style="font-family: 'microsoft yahei';">{{lang.lang181}}</a>
			      </label>
			      <div class="tipbox">
				      	<div class="tip_tishi" ng-show="registerForm.countryItem.$error.required">
	                    	{{lang.lang156}}
		                </div>
				  		<div class="tip_tishi" ng-show="registerForm.account.$error.required">
		                    {{lang.lang182}}
		                </div>
		                <div class="tip_tishi" ng-show="accountValid">
		                    {{lang.lang183}}
		                </div>
		                <div class="tip_tishi" ng-show="registerForm.capCode.$error.required">
		                    {{lang.lang184}}
		                </div>
		                <div class="tip_tishi" ng-show="registerForm.code.$error.required">
		                    {{lang.lang185}}
		                </div>
		                <div class="tip_tishi" ng-show="registerForm.pwd.$error.required">
		                    {{lang.lang125}}
		                </div>
		                <div class="tip_tishi" ng-show="registerForm.pwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
		                <div class="tip_tishi" ng-show="registerForm.secondPwd.$error.required">
		                    {{lang.lang350}}
		                </div>
		                <div class="tip_tishi" ng-show="registerForm.secondPwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
		                <div class="tip_tishi" ng-show="phoneParams.pwd && phoneParams.secondPwd && phoneParams.pwd != phoneParams.secondPwd">
		                    {{lang.lang127}}
		                </div>
		                <div class="tip_tishi" ng-show="!phoneCheck">
		                    {{lang.lang186}}
		                </div>
			      </div>
			    </div>
			  </div>
			  <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 2rem;" ng-disabled="registerForm.$invalid || phoneParams.pwd != phoneParams.secondPwd || !phoneCheck || accountValid" ng-click="registerFun()" >{{lang.lang187}}</button>
			  <p class="text-center margin20">{{lang.lang188}} <label class="text-primary cursorClass" ui-sref="logged.login" > {{lang.lang189}}</label></p>
			</form>
		  </div>
		  <!-- 邮箱注册表单 -->
		  <div class="tab-pane fade padding20" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<form class="needs-validation" novalidate name="emailForm">
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang149}}：</label>
			    <div class="col-sm-8">
			      	<select ng-show="language == 1" class="custom-select" name="country"  ng-model="emialParams.country" ng-options=" item.id as item.name for item in countryList" required >
					  <!-- <option value="">{{lang.lang156}}</option> -->
					</select>
					<select ng-show="language == 2" class="custom-select" name="country"  ng-model="emialParams.country" ng-options=" item.id as item.nameEn for item in countryList" required >
					  <!-- <option value="">{{lang.lang156}}</option> -->
					</select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang190}}：</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control"  name="account" ng-model="emialParams.account" required  pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" >
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang42}}：</label>
			    <div class="col-sm-8">
			      	<div class="input-group">
			      		<input type="text" class="form-control"  required ng-model="emialParams.capCode" name="capCode" >
					  	<div class="input-group-append" ng-click="getCaptcha()" >
					    	<button class="btn btn-outline-secondary padding0" type="button"><img style="width: 105px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
						</div>
			    	</div>
			  	</div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang119}}：</label>
			    <div class="col-sm-8">
			      <div class="input-group">
					  	<input type="text" class="form-control" aria-describedby="basic-addon2" required ng-model="emialParams.code" name="code" >
					  	<div class="input-group-append">
					    	<button class="btn btn-outline-secondary" type="button" ng-click="getphoneCodefun('sendButton_email')" id="sendButton_email" >{{lang.lang46}}</button>
					  	</div>
					</div>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang120}}：</label>
			    <div class="col-sm-8">
			      <input type="password" class="form-control"  required ng-model="emialParams.pwd"  name="pwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$" >
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang123}}：</label>
			    <div class="col-sm-8">
			      <input type="password" class="form-control"  required ng-model="emialParams.secondPwd"  name="secondPwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$" >
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang356}}：</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control"  ng-model="params.inviteCode"  name="inviteCode" >
			    </div>
			  </div>
			  <div class="form-group text-center">
			    <div class="form-check">
			      <input class="form-check-input" type="checkbox" name="invalidCheck" ng-model="invalidCheck" required>
			      <label class="form-check-label" for="invalidCheck">
			        {{lang.lang180}}<a class="text-primary cursorClass" target="_blank" ui-sref="logged.useragreement" style="font-family: 'microsoft yahei';" >{{lang.lang181}}</a>
			      </label>
			      <div class="tipbox">
				      	<div class="tip_tishi" ng-show="emailForm.country.$error.required">
	                    	{{lang.lang156}}
		                </div>
				  		<div class="tip_tishi" ng-show="emailForm.account.$error.required">
		                    {{lang.lang191}}
		                </div>
		                <div class="tip_tishi" ng-show="emailForm.account.$error.pattern">
		                    {{lang.lang192}}
		                </div>
		                <div class="tip_tishi" ng-show="emailForm.capCode.$error.required">
		                    {{lang.lang184}}
		                </div>
		                <div class="tip_tishi" ng-show="emailForm.code.$error.required">
		                    {{lang.lang227}}
		                </div>
		                <div class="tip_tishi" ng-show="emailForm.pwd.$error.required">
		                    {{lang.lang125}}
		                </div>
		                <div class="tip_tishi" ng-show="emailForm.pwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
		                <div class="tip_tishi" ng-show="emailForm.secondPwd.$error.required">
		                    {{lang.lang350}}
		                </div>
		                <div class="tip_tishi" ng-show="emailForm.secondPwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
		                <div class="tip_tishi" ng-show="emialParams.pwd && emialParams.secondPwd && emialParams.pwd != emialParams.secondPwd">
		                    {{lang.lang127}}
		                </div>
		                <div class="tip_tishi" ng-show="!invalidCheck">
		                    {{lang.lang186}}
		                </div>
			      </div>
			    </div>
			  </div>
			  <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 2rem;" ng-disabled="emailForm.$invalid || emialParams.pwd != emialParams.secondPwd || !invalidCheck" ng-click="registerFun()" >{{lang.lang187}}</button>
			  <p class="text-center margin20">{{lang.lang188}} <label class="text-primary cursorClass" ui-sref="logged.login" > {{lang.lang189}}</label></p>
			</form>
		  </div>
		</div>
	</div>
</div>