.business-apply{
  margin-bottom: 50px;
}
.business-apply .apply-title{
  margin-top: 50px;
}

.business-apply .apply-content{
  background-color: #fff;
  margin: 0;
  padding: 60px 130px;
  font-size: 16px;
  color: #6c6c6c;
}
