<div class="container-full bg-body" style="padding-top: 5rem;" ng-if="language == 1">
    <div class="container"  style="position: relative;min-height: 900px;padding: 0 0 350px;zoom: 1;">
        <div class="l_title div-block font-1" style="font-size: 20px;height: 60px;line-height: 60px;margin: 20px 0;border-radius: 3px;padding: 0 30px;">哈耶克隐私条款</div>
        <div class="cont div-block font-2">
            <div class="l_content" style="font-size: 14px;border-radius: 3px;overflow: hidden;padding: 30px;"><em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">一、双方</em>
                <ul>
                    <li>1.1 Hayek technology pte.ltd.（以下称 “公司”）是一家根据新加坡相关法律在新加坡注册成立的公司，该公司运营网站http://www.hayekex.com（以下称“本网站”或“网站”），该网站是一个专门供用户进行数字资产交易和提供相关服务（以下称“该服务”或“服务”）的平台。为了本协议表述之方便，公司和该网站在本协议中合称使用“我们”或其他第一人称称呼。</li>
                    <li>1.2 只要登陆该网站的自然人或其他主体均为本网站的用户，本协议表述之便利，以下使用“您”或其他第二人称。</li>
                    <li>1.3 为了本协议表述之便利，我们和您在本协议中合称为“双方”，我们或您单称为“一方”。</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">二、隐私政策制定的目的</em>
                <p>隐私政策规定了我们只通过您登陆本网站、在本网站上注册和/或使用我们提供的服务采集您信息的类型以及我们如何使用和保护这些采集到的信息。</p> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">三、您的同意</em>
                <ul>
                    <li>为确保您对我们在处理个人资料上有充分信心, 您切要详细阅读及理解隐私政策的条文。特别是您一旦登陆我们的网站，不论您是否在该网站上注册，您均向我们表明您接受、同意、承诺和确认：</li>
                    <li>3.1 您在自愿下连同所需的同意向我们披露个人资料；</li>
                    <li>3.2 您会遵守本隐私政策的全部条款和限制；</li>
                    <li>3.3 您同意我们通过您登陆本网站、在本网站上注册和/或使用我们提供的服务收集您的信息；您同意日后我们对隐私政策的任何修改；</li>
                    <li>3.4 您同意我们的分公司、附属公司、雇员就您可能会感兴趣的产品和服务与您联络( 除非您已经表示不想收到该等讯息 )。</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">四、收集的信息</em>
                <ul>
                    <li>4.1 当您使用本网站时，您同意我们开始使用cookies来追踪您的每一个动作，并收集和记住您留下的所有信息，其中包括但不限于您的IP地址，地理位置及其他资料。</li>
                    <li>
                        <p>4.2 如果您愿意使用本网站提供的服务，您需要填写和提供以下两种信息：</p>
                        <ul class="indent">
                            <li>4.2.1 身份信息。该信息可以帮助我们验证您是否有资格注册为本网站会员，包括但不限于您的名字、您的居住地址、邮寄地址、您所属国家或政府签发的其他具有证明您身份信息的不同的证书以及涉及到的号码及所有其他可帮助我们验证您身份的信息（以下合称为“身份信息” ）。</li>
                            <li>4.2.2 服务信息。该信息帮助我们与您联系并顺利为您提供服务，包括但不限于您的电话号码、传真号码、有效的电子邮件地址、邮寄地址以及您的借记卡信息和/或其他帐户信息（以下合 称为“服务信息” ）。</li>
                        </ul>
                    </li>
                    <li>4.3 在您使用本网站或其提供的服务时，我们可能会为了改进本网站的使用功能，提升您对使用本网站及其提供的服务及其安全性的体验或是根据法院或可适用法律法规或有管辖权的其他政府机构的命令，通过本网站公示的专属于我们的邮箱或其他我们认为合规的方式收集更多的必要的信息。</li>
                    <li>4.4 如果您访问了在本网站上的其他第三方网站或合作的第三方的任何链接，您应同意并遵守该第三方网单独和独立的隐私政策。我们对这些网站或合作方的内容及活动不承担任何责任。</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">五、Cookies</em>
                <ul>
                    <li>5.1 当您到访我们网站时, 我们通过cookies使用Google Stats去记录我们的业绩以及核对在线广告的效果。Cookie是发送到您的浏览器上并在您的电脑硬盘驱动器上存储的小量数据。只有当您使用您的电脑进入我们网站时,Cookie才能够被发送到您的电脑硬盘上。</li>
                    <li>5.2 Cookies常用于记录访问者浏览我们网站上的各个项目时的习惯以及偏好。Cookies所搜集的资料是不记名的集体统计数据, 不载有个人资料。</li>
                    <li>5.3 Cookies不能用于取得您的硬盘上的数据、您的电邮地址、及您的私人数据，其可使本网站或服务商系统识别到您的浏览器并捕捉和记忆信息。大多数浏览器都预设为可以接受Cookies。您可以选择将您的浏览器设定为不接受Cookies,或如果Cookies一被装上就通知您。不过, 若设定为禁止Cookies, 您或许便不能启动或使用我们网站的某些功能。</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">六、信息使用用途</em>
                <ul>
                    <li>
                        <p>6.1 我们为了以下目的或以下列方式使用我们收集到的您的信息：</p>
                        <ul class="indent">
                            <li>6.1.1 通过我们的网站向您提供我们的各项服务；</li>
                            <li>6.1.2 当您使用我们的网站时, 能辨认及确认您的身份；</li>
                            <li>6.1.3 为了改善和提高网站的服务（根据我们收到的您的信息及反馈，帮助我们改善网站的服务，进而我们可以更有效地对您的服务请求和支持需求做出回应）；</li>
                            <li>6.1.4 统计我们网站使用量的数据和政府机关、事业单位等合作的数据分析； </li>
                            <li>6.1.5 个性化您的体验（您的信息将帮助我们更好地为您的个性化需求作出回应）；</li>
                            <li>6.1.6 处理交易（您的信息，无论是公共或私人的，未经您的同意不会以任何理由被出售、交换、转移，或提供给任何其他公司，但除了为完成您所要求的交易的明确目的之外 ）；</li>
                            <li>6.1.7 定期发送电子邮件（您提供订单处理的电子邮件地址，除了偶尔接收我们的新闻，更新，相关产品或服务的信息等，可用来向您发送信息和更新有关您的订单）；</li>
                            <li>6.1.8 满足本网站用户协议规定的其他目的和为了满足该等目的的所有合法途径。</li>
                        </ul>
                    </li>
                    <li>6.2 我们不会向其他方出售、交易或以其他方式转让信息或允许他人收集、使用信息，但不包括以下其他方和以下信息：我们的关联方、帮助我们经营我们的网站、开展业务、或者向您提供服务的受信任的第三方，只要这些当事方同意将这些信息保密；当我们相信披露的信息是适当的，是遵守法律、法规、规章制度的或来自于法院或他主管当局的命令、执行我们的网站策略，正常运行网站所需要，关联方提供服务所需或保护我们或他人的权利、财产或安全的。但是，您的信息不会提供给其他方进行营销，广告或其他用途。</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">七、个人资料的保护</em>
                <ul>
                    <li>
                        <p>7.1 我们实施妥善的实物、电子、管理及技术方面的措施来保护和保障您的个人资料的安全。我们尽力确保通过我们网站所搜集的任何个人资料皆免于任何与我们无关的第三者的滋扰。我们采取的安全措施包括但不限于：</p>
                        <ul class="indent">
                            <li>7.1.1 实物措施：存有您个人资料的记录会被存放在有锁的地方。 </li>
                            <li>7.1.2 电子措施：存有您个人资料的电脑数据会被存放在受严格登入限制的电脑系统和存储媒体上。 </li>
                            <li>7.1.3 管理措施：只有经我们授权的职员才能接触到您的个人资料, 这些职员需要遵守我们个人资料保密的内部守则。 </li>
                            <li>7.1.4 技术措施：可能采用如Secure Socket Layer Encryption这种加密技术来输送您的个人资料。 </li>
                            <li>7.1.5 其它措施：我们的网络服务器受到“防火墙”的保护。</li>
                        </ul>
                    </li>
                    <li>7.2 若您知悉我们的网站上有任何安全方面的漏洞, 请马上联系我们, 使我们可以尽快采取妥适的行动。</li>
                    <li>7.3 尽管实施了上述技术和保安的措施, 我们不能保证资料在互联网上的输送绝对安全, 因此我们不能绝对保证您通过我们网站提供给我们的个人资料在一切时候都是安全的。对任何因未经授权而接触您个人资料所发生的事件我们一槪不承担责任, 于这方面产生或导致的任何损失或损害, 我们不负责赔偿。</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">八、隐私政策的修订</em>
                <p>我们保留随时修改该隐私政策的权利。我们通过更新和发布新版本的生效日期告诉您我们修订了隐私政策，并突出修订处，有时我们会发布通知告诉您隐私政策已修订，但这不是我们的一项义务。您应定期查看隐私政策并关注其修订情况，如果您不同意修订的内容，您应停止立即访问本网站。当隐私政策的更新版本发布，您持续访问本网站显示和表明您同意该更新的内容，并同意遵守该更新的隐私权政策。</p> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">九、与我们的沟通</em>
                <ul>
                    <li>9.1 如果您有任何要求和意见，您可以通过电子邮件support@hayekex.com，这是属于我们与您沟通的唯一有效和官方电子邮件，所以我们对您未使用有效的联系方式，任何作为或不作为不承担责任。</li>
                    <li>9.2 我们只通过本网站上的有效的联系方式发布公告和信息或在本网站张贴公告，所以我们对由于您信任了未通过以上方式获得的信息而产生的任何损失不承担责任。</li>
                    <li>9.3 若您对我们的隐私政策有任何问题, 欢迎随时联系我们。</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-full bg-body" style="padding-top: 5rem;" ng-if="language == 2">
    <div class="container" style="position: relative;min-height: 900px;padding: 0 0 350px;zoom: 1;">
        <div class="l_title div-block font-1" style="font-size: 20px;height: 60px;line-height: 60px;margin: 20px 0;border-radius: 3px;padding: 0 30px;">Privacy Policy</div>
        <div class="cont  div-block font-2">
            <div class="l_content" style="font-size: 14px;border-radius: 3px;overflow: hidden;padding: 30px;"><em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">1. Parties</em>
                <ul>
                    <li>1.1 Hayek technology pte.ltd. (hereinafter referred to as 'the Company') is a company incorporated in Singapore under the laws of Singapore, and operates the Website http://www.hayekex.com (hereinafter referred to as 'this Website' or 'the Website'), which is a platform dedicated to the transaction of digital assets and the provision of related services (hereinafter referred to as 'the Service'). For the convenience of wording in this Agreement, the Company and the Website are referred to collectively as 'we' or other applicable forms of first person pronouns in this Agreement.</li>
                    <li>1.2 All natural persons or other subjects who log onto this Website shall be users of this Website. For the convenience of wording in this Agreement, the users are referred to as 'you' or any other applicable forms of the second-person pronouns.</li>
                    <li>1.3 For the convenience of wording in this Agreement, you and we are collectively referred to as “both parties”, and individually as “one party”.</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">2. Purposes of the Privacy Policy</em>
                <p>The Privacy Policy stipulates the types of information of yours that we may collect through your log into this Website, your registration with this Website, and/or use the services we offer, as well as how we shall use and protect the information so collected.</p> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">3 Your consent</em>
                <ul>
                    <li>To ensure that you have full confidence in our handling of personal data, you are advised to read and understand the terms of this Privacy Policy in detail. In particular, upon your log into our Website, regardless of whether you register with this Website, you shall be deemed to accept, agree, undertake and confirm that:</li>
                    <li>3.1 You, on the basis of your own free will and your requisite consent, agree to disclose your personal information to us;</li>
                    <li>3.2 You will comply with all the terms and limitations of this Privacy Policy;</li>
                    <li>3.3 You agree that we may collect your information through your log into this Website, your registration with this Website, and/or your using the Services offered by us; you agree to any changes and modifications that we may make to our Privacy Policy in the future;</li>
                    <li>3.4 You agree that our branches, affiliates and employees may contact you in connection with the products and services that you may be interested in (unless you have indicated that you do not want to receive such information).</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">4. Information Collected</em>
                <ul>
                    <li>4.1 When you use this Website, you agree to permit us to use cookies to track each of your actions and collect and keep all the information that you leave on this Website, including but not limited to your IP address, location, and other information.</li>
                    <li>
                        <p>4.2 If you are willing to use the services offered by this Website, you will be required to fill in and provide the following two categories of information:</p>
                        <ul class="indent">
                            <li>4.2.1 Identity Information.Such information can help us verify whether you are eligible to be registered as a member of this Website. It includes but is not limited to your name, residence address, mailing address, other certificates and corresponding numbers thereof that are issued by your country or government to certify your identity information, as well as all other information that can help us to verify your identity (hereinafter referred to as 'identity information').</li>
                            <li>4.2.2 Service information. Such information helps us to contact you and provide you with the services, including but not limited to your phone number, fax number, valid email address, mailing address, and information concerning your debit card and/or other accounts (hereinafter collectively referred to as 'service information').</li>
                        </ul>
                    </li>
                    <li>4.3 When you use this Website or the services this Website offers, we may collect more information necessary from our exclusive mailboxes or in other manners that we consider as in compliance with relevant requirements, for the purpose of improving the functions of this Website, enhancing your experience of using this Website and its services as well as the security thereof, or as is required by any court order, any applicable law, administrative regulation or any order of any other competent government agency.</li>
                    <li>4.4 If you visit any of links to third-party websites as are listed on this Website or any link of any of our third-party partners, you shall agree to and comply with the separate and independent Privacy Policy of such third party website. We will not bear any liability for the contents and activities of such websites or the partners.</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">5. Cookies</em>
                <ul>
                    <li>5.1 When you visit our Website, we use Google stats via cookies to record our performance and check the effect of online advertising. Cookies are a small amount of data that is sent to your browser and stored on your computer hard drive. Only when you use your computer to access our Website can the cookies be sent to your computer hard drive.</li>
                    <li>5.2 Cookies are usually used to record the habits and preferences of visitors in browsing the items on our Website. The information collected by cookies is non-registered and collective statistical data and does not involve personal data.</li>
                    <li>5.3 Cookies, which enable the Website or service provider system to recognize your browser and capture and recall information, cannot be used to obtain data on your hard drive, your email address, or your personal data. Most browsers are designed to accept cookies. You can opt to set your browser to reject cookies, or to notify you as soon as possible if you are loaded on cookies. However, if you set your browser to disable cookies, it is possible that you may not be able to launch or use some functions of our Website.</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">6. Purposes of Information</em>
                <ul>
                    <li>
                        <p>6.1 We will use your information that we collect for the following purposes or in the following ways:</p>
                        <ul class="indent">
                            <li>6.1.1 to provide you with our Services through our Website;</li>
                            <li>6.1.2 to identify and confirm your identity when you use our Website;</li>
                            <li>6.1.3 to improve and upgrade the services of the Website (your information and feedback received by us can help us improve the service of the Website, so that we can more effectively respond to your service requests and support needs);</li>
                            <li>6.1.4 to keep statistics relating to the use of our Website and to be used for data analysis carried out in cooperation with government agencies, public affairs institutions; </li>
                            <li>6.1.5 to personalize your experience (your information will help us to better respond to your personalized needs);</li>
                            <li>6.1.6 to facilitate transactions (your information, whether public or private, will not be sold, exchanged, transferred, or otherwise provided to any other company on any grounds without your consent, except for where doing so is expressly for the purpose of completing the transaction you require);</li>
                            <li>6.1.7 to send e-mail regularly (the email address that you provide for the purpose of processing orders may be used to receive information on and updates to your orders, in addition to newsletters, updates, related products or services information, etc.,that we may send to you from time to time)</li>
                            <li>6.1.6 to facilitate transactions (your information, whether public or private, will not be sold, exchanged, transferred, or otherwise provided to any other company on any grounds without your consent, except for where doing so is expressly for the purpose of completing the transaction you require);</li>
                            <li>6.1.8 to meet other purposes as specified in the User Agreement of this Website and all legal means adopted for satisfying such purposes.</li>
                        </ul>
                    </li>
                    <li>6.2 We do not sell, trade, or otherwise transfer information or allow others to collect, use information; however, such information does not involve the following parties and does not include the following information: our affiliates, trusted third parties who help us operate our websites, manage our business, or provide services to you, provided that such parties agree to keep such information confidential; When we believe that information disclosure is appropriate, or it is required by any of the applicable laws, regulations, rules or by any order of courts or other competent authorities, and is necessary for executing the strategy of our Website and ensuring the proper functioning of the Website, or as may be necessary for the related parties to provide services, or for the protection of the rights, property or safety of us or other persons. However, your information will not be provided to other parties for marketing, advertising or other purposes.</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">7. Protection of Personal Data</em>
                <ul>
                    <li>
                        <p>7.1 We adopt appropriate physical, electronic, management and technical measures so as to protect and safeguard the security of your personal data. We will, to the greatest extent possible, ensure that any personal data collected through our Website shall be free from being subject to nuisance by any third party unrelated to us. The security measures that we may take include but are not limited to:</p>
                        <ul class="indent">
                            <li>7.1.1 Physical measures: records of your personal data will be stored in a properly locked place. </li>
                            <li>7.1.2 Electronic measures: The computer data that contain your personal information will be stored in computer systems and storage medias that are subject to strict login restrictions. </li>
                            <li>7.1.3 Management measures: only staff members duly authorized by us can access your personal data, and these staff members shall comply with our internal code concerning personal data confidentiality. </li>
                            <li>7.1.4 Technical measures: such encryption techniques as Secure Socket Layer Encryption may be used to convey your personal data.</li>
                            <li>7.1.5 Other measures: our network servers are protected by proper 'firewall '.</li>
                        </ul>
                    </li>
                    <li>7.2 If you are aware of any security flaws in our Website, please contact us immediately so that we can take appropriate action as soon as possible.</li>
                    <li>7.3 Despite of the above-mentioned technical and security measures, we cannot guarantee that the information transmitted via the Internet is absolutely safe, so we cannot absolutely guarantee that the personal data that you provide to us through our Website will be safe at any time. We will not be held liable for any loss or damage arising from or caused by any event that may occur in connection with unauthorized access to your personal data, and we shall not be held liable for compensation for such loss or damage.</li>
                </ul> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">8 Modification to the Privacy Policy</em>
                <p>We reserve the right to amend the Privacy Policy from time to time and at any time. We will inform you of the modifications made to the Privacy Policy by updating and publishing the effective date of the release of new versions hereof and highlighting the amendments. Sometimes, we may issue a notice to inform you of the modification made in the Privacy Policy, which, however, is not an obligation for us. You shall regularly review the Privacy Policy and focus on its modifications, and if you do not agree to such modifications, you shall immediately stop accessing this Website. When an updated version of this Privacy Policy is released, your continued visit to this Website shall indicate and show that you agree to the update and agree to comply with the updated Privacy Policy.</p> <em class="paragraph" style="font-style: normal;padding: 13px 0;display: inline-block;">9 Communication with Us</em>
                <ul>
                    <li>9.1 If you have any requests and comments, you can send an email to support@huobi.pro, which is the only valid and official email through which we communicate with you, so we will not bear any liability for your failure to using effective contact information, any act or omission.</li>
                    <li>9.2 We only publish announcements and information on the basis of the valid and effective contact information on this Website or post announcements on this Website; therefore, we shall not be held liable for any loss arising from your trust in the information that has not been obtained through the above-mentioned means.</li>
                    <li>9.3 If you have any questions regarding our Privacy Policy, you are welcome to contact us at any time.</li>
                </ul>
            </div>
        </div>
    </div>
</div>