<div class="container-full bg-dark text-white pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Hayek</h4>
        <p class="" style="color: rgba(255,255,255,0.4);">全球领先的数字资产交易平台</p>
        <p class="" style="color: rgba(255,255,255,0.4); margin-top: 1.5rem;">©2016-2018Hayek.com</p>
      </div>
      <div class="col-md-6 footernav">
        <dl style="float: left;">
          <dt>支持</dt>
          <dd>常见问题</dd>
          <dd>新手帮助</dd>
        </dl>
        <dl style="float: left;">
          <dt>法律</dt>
          <dd>服务协议</dd>
          <dd>交易规则</dd>
          <dd>费率说明</dd>
        </dl>
        <dl style="float: left;">
          <dt>联系我们</dt>
          <dd>support@BtiTiger.com</dd>
          <dd class="icon">
            <img src="assets/images/icon_wechat.png" alt="微信">
            <img src="assets/images/icon_facebook.png" alt="facebook">
            <img src="assets/images/icon_twitter.png" alt="twitter">
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
