<div class="container-full forgetpassword_box">
	<div class="container forgetpassword-content div-block">
		<div class="title font-1">{{lang.lang115}}</div>
		<ul class="nav border-182b7b">
		  	<li class="nav-item" ng-repeat="a in navmenus" ng-click="onnavmenu($index)">
		    	<a class="nav-link font-2" href="javascript:" ng-class="{true:'active',false:''}[a.success]" ng-bind="a.name"></a>
		  	</li>
		</ul>
		<div ng-if="navmenus[0].success">
			<form class="info-form" style="margin-top: 1rem" name="accountForm" novalidate >
				<div class="form-group">
				  	<label>{{lang.lang116}}</label>
				  	<div class="new_tipbox" >
				      	<div class="tip_tishi" ng-show="accountForm.account.$dirty && accountForm.account.$error.required">
		                	{{lang.lang117}}
		                </div>
			      	</div>
				  	<input type="text" class="form-control"  name="account" ng-model="accountPrams.account" required>
			  	</div>
			  	<div class="form-group">
				  	<label>{{lang.lang42}}</label>
				  	<div class="new_tipbox" >
				      	<div class="tip_tishi" ng-show="accountForm.code.$dirty && accountForm.code.$error.required">
		                    {{lang.lang43}}
		                </div>
			      	</div>
				  	<div class="input-group">
					  	<input type="text" class="form-control"  aria-describedby="basic-addon2" required ng-model="accountPrams.code" name="code" >
				  		<div class="input-group-append" ng-click="getCaptcha()" >
				    		<button class="btn code-bg padding0" type="button"><img style="width: 105px;height: 29px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
				  		</div>
					</div>
			  	</div>
				<!-- <div class="tipbox">
			      	<div class="tip_tishi" ng-show="accountForm.account.$dirty && accountForm.account.$error.required">
	                	{{lang.lang117}}
	                </div>
	                <div class="tip_tishi" ng-show="accountForm.code.$dirty && accountForm.code.$error.required">
	                    {{lang.lang43}}
	                </div>
		      	</div> -->
				<button class="btn btn-default btn-block" style="margin-top: 30px;" ng-disabled="accountForm.$invalid" ng-click="validAccount()">{{lang.lang121}}</button>
			</form>
		</div>
		<div ng-if="navmenus[1].success">
			<form class="info-form" style="margin-top: 1rem" name="checkForm" novalidate >
				<div class="form-group">
				  	<label>{{lang.lang118}}</label>
				  	<input type="text" class="form-control"  ng-value="checkPrams.account" disabled >
			  	</div>
			  	<div class="form-group">
				  	<label>{{lang.lang42}}</label>
				  	<div class="new_tipbox" >
				      	<div class="tip_tishi" ng-show="checkForm.imageCode.$dirty &&  checkForm.imageCode.$error.required">
		                    {{lang.lang43}}
		                </div>
			      	</div>
				  	<div class="input-group">
					  	<input type="text" class="form-control" aria-describedby="basic-addon2" required ng-model="checkPrams.imageCode" name="imageCode" >
				  		<div class="input-group-append" ng-click="getCaptcha()" >
				    		<button class="btn code-bg padding0" type="button"><img style="width: 105px;height: 29px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
				  		</div>
					</div>
			  	</div>
			  	<div class="form-group">
				  	<label>{{accountType == 2 ? lang.lang119: lang.lang44}}</label>
				  	<div class="new_tipbox" >
				      	<div class="tip_tishi" ng-show="checkForm.code.$dirty &&  checkForm.code.$error.required" >
		                	{{lang.lang45}}
		                </div>
			      	</div>
				  	<div class="input-group">
					  <input type="text" class="form-control" aria-describedby="basic-addon2" required ng-model="checkPrams.code" name="code" >
					  <div class="input-group-append">
					    <button class="btn btn-code" type="button" ng-click="getphoneCodefun()" id="sendButton_forget" >{{lang.lang45}}</button>
					  </div>
					</div>
			  	</div>
			  	<!-- <div class="tipbox">
	                <div class="tip_tishi" ng-show="checkForm.imageCode.$dirty &&  checkForm.imageCode.$error.required">
	                    {{lang.lang43}}
	                </div>
	                <div class="tip_tishi" ng-show="checkForm.code.$dirty &&  checkForm.code.$error.required" >
	                	{{lang.lang45}}
	                </div>
		      	</div> -->
				<button class="btn btn-default btn-block" style="margin-top: 6px;" ng-disabled="checkForm.$invalid" ng-click="checkAccount()" >{{lang.lang121}}</button>
			</form>
		</div>
		<div ng-if="navmenus[2].success">
			<form class="info-form" style="margin-top: 1rem" name="resetForm" novalidate  >
				<div class="form-group">
				  	<label>{{lang.lang120}}</label>
				  	<div class="new_tipbox" >
				      	<div class="tip_tishi" ng-show="resetForm.pwd.$dirty && resetForm.pwd.$error.required">
		                    {{lang.lang125}}
		                </div>
		                <div class="tip_tishi" ng-show="resetForm.pwd.$dirty && resetForm.pwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
			      	</div>
				  	<input type="password" class="form-control"  required ng-model="resetParams.pwd"  name="pwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,15}$" >
			  	</div>
			  	<div class="form-group">
				  	<label>{{lang.lang123}}</label>
				  	<div class="new_tipbox" >
				      	<div class="tip_tishi" ng-show="resetForm.secondPwd.$dirty && resetForm.secondPwd.$error.required">
		                    {{lang.lang350}}
		                </div>
		                <div class="tip_tishi" ng-show="resetForm.secondPwd.$dirty && resetForm.secondPwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
		                <div class="tip_tishi" ng-show="resetParams.pwd && resetParams.secondPwd && resetParams.pwd != resetParams.secondPwd">
		                    {{lang.lang127}}
		                </div>
			      	</div>
				  	<input type="password" class="form-control" required ng-model="resetParams.secondPwd"  name="secondPwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,15}$" >
			  	</div>
				<!-- <div class="tipbox">
	                <div class="tip_tishi" ng-show="resetForm.pwd.$dirty && resetForm.pwd.$error.required">
	                    {{lang.lang125}}
	                </div>
	                <div class="tip_tishi" ng-show="resetForm.pwd.$dirty && resetForm.pwd.$error.pattern">
	                    {{lang.lang126}}
	                </div>
	                <div class="tip_tishi" ng-show="resetForm.secondPwd.$dirty && resetForm.secondPwd.$error.required">
	                    {{lang.lang350}}
	                </div>
	                <div class="tip_tishi" ng-show="resetForm.secondPwd.$dirty && resetForm.secondPwd.$error.pattern">
	                    {{lang.lang126}}
	                </div>
	                <div class="tip_tishi" ng-show="resetParams.pwd && resetParams.secondPwd && resetParams.pwd != resetParams.secondPwd">
	                    {{lang.lang127}}
	                </div>
		      	</div> -->
				<button class="btn btn-default btn-block" style="margin-top: 6px;" ng-disabled="resetForm.$invalid  || resetParams.pwd != resetParams.secondPwd" ng-click="resetPwd()" >{{lang.lang121}}</button>
			</form>
		</div>
		<div class="text-center" style="padding-top: 89px;" ng-if="navmenus[3].success">
			<img src="img/icon_hook.png">
			<p style="margin-top: 1rem;"><span class="font-2">{{lang.lang128}} </span><a ui-sref="logged.login" class="text-D3D8EE">{{lang.lang129}}</a></p>
		</div>
	</div>
</div>