<div class="container-full register forgetpassword" style="background: url('img/bg_login.jpg') no-repeat center top;background-size: 100%;">
	<h4 style="color: #fff;text-align: center;margin-bottom: 2rem;">{{lang.lang115}}</h4>
	<div class="container bg-light" style="width:44.5rem;padding: 1rem; border-radius: 5px;">
		<!-- {{productId}}{{name}} -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item" ng-repeat="a in navmenus" ng-click="onnavmenu($index)">
		    <a class="nav-link" href="javascript:" ng-class="{true:'active',false:''}[a.success]" ng-bind="a.name"></a>
		  </li>
		</ul>
		<div class="container" style="height: 35rem;" ng-if="navmenus[0].success">
			<form class="needs-validation" style="margin-top: 1rem" name="accountForm" novalidate >
				<div class="form-group row">
					<span for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang116}}：</span>
					<div class="col-sm-8">
				    	<input type="text" class="form-control" placeholder={{lang.lang117}} name="account" ng-model="accountPrams.account" required>
					</div>
				</div>
				<div class="form-group row">
				  <span for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang42}}：</span>
				  <div class="col-sm-8">
				    <div class="input-group">
					  	<input type="text" class="form-control" placeholder={{lang.lang43}}  aria-describedby="basic-addon2" required ng-model="accountPrams.code" name="code" >
				  		<div class="input-group-append" ng-click="getCaptcha()" >
				    		<button class="btn btn-outline-secondary padding0" type="button"><img style="width: 105px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
				  		</div>
					</div>
				  </div>
				</div>
				<div class="tipbox row">
					<div class="offset-sm-3 col-sm-8">
				      	<div class="tip_tishi" ng-show="accountForm.account.$error.required">
		                	{{lang.lang117}}
		                </div>
		                <div class="tip_tishi" ng-show="accountForm.code.$error.required">
		                    {{lang.lang43}}
		                </div>
	                </div>
		      	</div>
				<p class="text-center margin20">
					<button class="btn btn-primary btn-md" style="padding: .3rem 2rem;" ng-disabled="accountForm.$invalid" ng-click="validAccount()">{{lang.lang121}}</button>
				</p>
			</form>
		</div>
		<div class="container" style="height: 35rem;" ng-if="navmenus[1].success">
			<form class="needs-validation" style="margin-top: 1rem" name="checkForm" novalidate >
				<div class="form-group row">
					<span for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang118}}：</span>
					<div class="col-sm-8">
				    	<input type="text" class="form-control"  ng-value="checkPrams.account" disabled >
					</div>
				</div>
				<div class="form-group row">
			    <span for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang42}}：</span>
			    <div class="col-sm-8">
			      <div class="input-group">
					  	<input type="text" class="form-control" placeholder={{lang.lang43}} aria-describedby="basic-addon2" required ng-model="checkPrams.imageCode" name="imageCode" >
				  		<div class="input-group-append" ng-click="getCaptcha()" >
				    		<button class="btn btn-outline-secondary padding0" type="button"><img style="width: 105px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
				  		</div>
					</div>
			    </div>
			  </div>
			  <div class="form-group row">
			    <span for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{accountType == 2 ? lang.lang119: lang.lang44}}：</span>
			    <div class="col-sm-8">
			      <div class="input-group">
					  <input type="text" class="form-control" placeholder={{lang.lang45}} aria-describedby="basic-addon2" required ng-model="checkPrams.code" name="code" >
					  <div class="input-group-append">
					    <button class="btn btn-outline-secondary" type="button" ng-click="getphoneCodefun()" id="sendButton_forget" >{{lang.lang45}}</button>
					  </div>
					</div>
			    </div>
			  </div>
			  	<div class="tipbox row">
					<div class="offset-sm-3 col-sm-8">
		                <div class="tip_tishi" ng-show="checkForm.imageCode.$error.required">
		                    {{lang.lang43}}
		                </div>
		                <div class="tip_tishi" ng-show="checkForm.code.$error.required" >
		                	{{lang.lang45}}
		                </div>
	                </div>
		      	</div>
				<p class="text-center margin20">
					<button class="btn btn-primary btn-md" style="padding: .3rem 2rem;" ng-disabled="checkForm.$invalid" ng-click="checkAccount()" >{{lang.lang121}}</button>
				</p>
			</form>
		</div>
		<div class="container" style="height: 35rem;" ng-if="navmenus[2].success">
			<form class="needs-validation" style="margin-top: 1rem" name="resetForm" novalidate  >
				<div class="form-group row">
				    <span for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang120}}：</span>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" placeholder={{lang.lang122}} required ng-model="resetParams.pwd"  name="pwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,15}$" >
				    </div>
				</div>
				<div class="form-group row">
				    <span for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-right">{{lang.lang123}}：</span>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" placeholder={{lang.lang124}} required ng-model="resetParams.secondPwd"  name="secondPwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,15}$" >
				    </div>
				</div>
				<div class="tipbox row">
					<div class="offset-sm-3 col-sm-8">
		                <div class="tip_tishi" ng-show="resetForm.pwd.$error.required">
		                    {{lang.lang125}}
		                </div>
		                <div class="tip_tishi" ng-show="resetForm.pwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
		                <div class="tip_tishi" ng-show="resetForm.secondPwd.$error.required">
		                    {{lang.lang350}}
		                </div>
		                <div class="tip_tishi" ng-show="resetForm.secondPwd.$error.pattern">
		                    {{lang.lang126}}
		                </div>
		                <div class="tip_tishi" ng-show="resetParams.pwd && resetParams.secondPwd && resetParams.pwd != resetParams.secondPwd">
		                    {{lang.lang127}}
		                </div>
	                </div>
		      	</div>
				<p class="text-center margin20">
					<button class="btn btn-primary btn-md" style="padding: .3rem 2rem;" ng-disabled="resetForm.$invalid  || resetParams.pwd != resetParams.secondPwd" ng-click="resetPwd()" >{{lang.lang121}}</button>
				</p>
			</form>
		</div>
		<div class="container text-center" style="height: 35rem; padding: 5rem;" ng-if="navmenus[3].success">
			<img src="img/icon_hook.png">
			<p style="margin-top: 1rem;">{{lang.lang128}} <a ui-sref="logged.login" class="text-primary">{{lang.lang129}}</a></p>
		</div>
	</div>
</div>