<main>
    <div class="page-content">
        <div class="content container" style="overflow:hidden;">
            <div class="tab-list" style=" height: 40px;background: rgba(0,0,0,0.4);">
                <a class="tab-item active" style="display: inline-block;border-left: 5px solid #1fb5ad;padding: 10px;">认证列表</a>
            </div>
            <div class="widget-content example_alt_pagination">
                <div class="search-box" style="margin-bottom: 25px;">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="control-label">关键字：</label>
                            <input type="text" class="form-control" placeholder="姓名/证件号码" ng-model="params.name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">审核状态：</label>
                            <select class="form-control" ng-model="params.status">
                                <option value="">全部</option>
                                <option value="1">审核中</option>
                                <option value="2">审核成功</option>
                                <option value="3">审核失败</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">提交时间：</label>
                            <input size="16" type="text" ng-model="params.startTime" readonly class="form_datetime"> 至
                            <input size="16" type="text" ng-model="params.endTime" readonly class="form_datetime">
                        </div>
                        <div class="form-group">
                            <label class="control-label">审核时间：</label>
                            <input size="16" type="text" ng-model="params.auditStartTime" readonly class="form_datetime"> 至
                            <input size="16" type="text" ng-model="params.auditEndTime" readonly class="form_datetime">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="searchFun(0)">搜索</button>
                            <button class="btn btn-refresh" ng-click="searchFun(1)">重置</button>
                        </div>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>国籍</th>
                            <th>证件类型</th>
                            <th>证件号码</th>
                            <th>正面图像</th>
                            <th>背面图像</th>
                            <th>手持证件照正面图像</th>
                            <th>认证状态</th>
                            <th>提交时间</th>
                            <th>审核时间</th>
                            <th>审核意见</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- 审核操作 -->
<div class="modal fade abortive-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 460px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">审核</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-model" name="myForm" novalidate>
                    <div class="form-group" style="margin-bottom:10px;" style="margin-bottom:15px">
                        <label class="control-label">审核结果：</label>
                        <div class="account">
                            <div class="col-sm-4">
                                <input class="radio-inline" type="radio" name="status" value="2" ng-model="adminParams.status" ng-checked="true">
                                <label style="font-weight: normal;">审核成功</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="radio-inline" type="radio" name="status" value="3" ng-model="adminParams.status">
                                <label style="font-weight: normal;">审核失败</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">审核意见：</label>
                        <br>
                        <textarea class="form-control" rows="4" style="width:80%" name="remark" ng-model="adminParams.remark" required></textarea>
                        <span style="color:#d70000;margin-left: 78px;" ng-show="myForm.remark.$error.required">审核意见必填</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="verify()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 图片预览 -->
<!--  <div class="modal fade img-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;margin-right: -50%;">
   <div class="modal-dialog modal-lg">
       <div class="modal-content" style="">
           <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title" id="myLargeModalLabel">图片预览</h4>
           </div>
           <div class="modal-body text-center" style="height: 480px;">
               <img alt="" style="max-height: 100%;max-width: 100%;">
           </div>
       </div>
   </div>
</div> -->
<div class="picturelook" style="z-index: 9998;top: 10%;width: 450px;position: fixed;height: 450px;left: 76%;display: none;text-align: center;">
    <img class="mins" style="max-height: 100%;max-width: 100%;" src="http://183.129.157.218:8102/images/fiat/certification/f29dd0ca453d4ab49e6cc4d69d831580.png">
</div>