<div class="container-full bg-body" style="padding-top: 6rem;">
    <div class="container">
        <div class="row" style="height: 37rem;">
            <div class="col col-md-3">
                <ul class="userinfoside">
                    <li class="side-item active b-menu border-152669" ui-sref="logged.assetscentre_capital"><img style="margin-right: 15px;" src="img/zczhh.png">{{lang.lang32}}</li>
                    <li class="side-item b-menu border-152669" ui-sref="logged.capitalflow_capital"><img style="margin-right: 15px;" src="img/security_0.png">{{lang.lang33}}</li>
                </ul>
            </div>
            <div class="col col-md-9">
                <div class="card div-block" style="margin-bottom: 1rem;">
                    <div class="card-header info-header font-1 border-152669">
                        {{lang.lang68}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <p class="font-1" >{{lang.lang165}}：{{coin}}</p>
                                <p class="font-1" >{{lang.lang166}}：<input type="text" value="{{coinlists.address}}" class="font-2" style="border:none; background: none; width: 20rem;" id="text" readonly />
                                <span class="text-primary" style="cursor: pointer;display: inline-block;margin-right: 1rem;" ng-click="copyText()">{{lang.lang167}}</span></p>
                                <h5 class="font-1" style="font-size: 20font-family:PingFangSC-Regular;px;line-height: 2rem; margin-top: 1rem; font-size: 1rem;">{{lang.lang170}}：</h5>
                                <ul class="font-2" style="font-size: 14px;" ng-if="language == 1">
                                    <li class="cE45555" style="line-height: 1.5rem;">1.禁止充币除{{coin}}之外的其他资产，任何非{{coin}}资产充币将不可找回。</li>
                                    <li style="line-height: 1.5rem;">2.您充值至上述地址后，需要整个网络节点的确认，1次网络确认后到账，6次网络确认后可提币。</li>
                                    <li style="line-height: 1.5rem;">3.最小充值金额：{{minChargeNumber}}{{coin}}，小于最小金额的充值将不会上账。</li>
                                    <li style="line-height: 1.5rem;">4.请务必确认电脑及浏览器安全，防止信息被篡改或泄露。</li>
                                    <!-- <li style="line-height: 1.5rem;">5.充币完成后，请联系客服审核确认到账。</li> -->
                                </ul>
                                <ul class="font-2" style="font-size: 14px;" ng-if="language == 2" >
                                    <li class="cE45555" style="line-height: 1.5rem;">1.We only accept {{coin}} deposit, any coin deposit other than {{coin}} will not be recovered.</li>
                                    <li style="line-height: 1.5rem;">2.After deposit is made to the address above, you will need the confirmations from the entire network nodes. Your account will be credited after 1 confirmations from network, and you can withdraw after 6 confirmations from network.</li>
                                    <li style="line-height: 1.5rem;">3.The minimum deposit amount is：{{minChargeNumber}}{{coin}}，any deposit less than the amount will not be shown in your account.</li>
                                    <li style="line-height: 1.5rem;">4.Make sure that computers and browsers are secure to prevent information from being tampered with or leaked.</li>
                                    <!-- <li style="line-height: 1.5rem;">5.After deposit is made, please contact our customer support team for confirmation</li> -->
                                </ul>
                            </div>
                            <div class="col">
                                <div class="card bg-182B7B border-1D328A" style="display:inline-block; margin-right: 1rem; width: 13rem;height: 240px;text-align: center;">
                                    <img class="card-img-top" style="width: 128px;margin: 40px 0;" src="http://qr.liantu.com/api.php?&bg=ffffff&fg=000000&text={{coinlists.address}}">
                                    <div class="card-body">
                                        <p class="card-text" style="color: #8993AA;margin-top: -3rem;">{{lang.lang168}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <p class="font-1" >{{lang.lang165}}：{{coin}}</p>
                        <p style="background: #0E1224;height: 40px;line-height: 40px;color: #8993AA;text-indent: 1rem;">{{lang.lang166}}：
                            <input type="text" value="{{coinlists.address}}" style="border:none; background: none; width: 20rem;color: #8993AA;" id="text" /> <span class="text-primary" style="cursor: pointer;display: inline-block;float: right;margin-right: 1rem;" ng-click="copyText()">{{lang.lang167}}</span></p>
                        <div class="card" style="display:inline-block; margin-right: 1rem; width: 13rem;background: #0E1224;height: 240px;text-align: center;">
                            <img class="card-img-top" style="width: 128px;margin: 40px 0;" src="http://qr.liantu.com/api.php?&bg=ffffff&fg=000000&text={{coinlists.address}}">
                            <div class="card-body">
                                <p class="card-text" style="color: #8993AA;margin-top: -3rem;">{{lang.lang168}}</p>
                            </div>
                        </div>
                        <div class="card" style="display:inline-block; margin-right: 1rem; width: 13rem;background: #0E1224;height: 240px;text-align: center;">
                            <img class="card-img-top" style="width: 128px;margin: 40px 0;" src="img/qrcode.png">
                            <div class="card-body">
                                <p class="card-text" style="color: #8993AA;margin-top: -3rem;">{{lang.lang169}}：BitTiger-kf</p>
                            </div>
                        </div> -->
                        <!-- <h5 style="color: #D3D8EE; font-size: 20font-family:PingFangSC-Regular;px;line-height: 2rem; margin-top: 1rem; font-size: 1rem;">{{lang.lang170}}：</h5>
                        <ul style="color: #8993AA;font-size: 14px;" ng-if="language == 1">
                            <li style="line-height: 1.5rem;color: #bd4e4e;">1.禁止充币除{{coin}}之外的其他资产，任何非{{coin}}资产充币将不可找回。</li>
                            <li style="line-height: 1.5rem;">2.您充值至上述地址后，需要整个网络节点的确认，1次网络确认后到账，6次网络确认后可提币。</li>
                            <li style="line-height: 1.5rem;">3.最小充值金额：{{minChargeNumber}}{{coin}}，小于最小金额的充值将不会上账。</li>
                            <li style="line-height: 1.5rem;">4.请务必确认电脑及浏览器安全，防止信息被篡改或泄露。</li>
                            <li style="line-height: 1.5rem;">5.充币完成后，请联系客服审核确认到账。</li>
                        </ul>
                        <ul style="color: #8993AA;font-size: 14px;" ng-if="language == 2" >
                            <li style="line-height: 1.5rem;">1.We only accept {{coin}} deposit, any coin deposit other than {{coin}} will not be recovered.</li>
                            <li style="line-height: 1.5rem;">2.After deposit is made to the address above, you will need the confirmations from the entire network nodes. Your account will be credited after 1 confirmations from network, and you can withdraw after 6 confirmations from network.</li>
                            <li style="line-height: 1.5rem;">3.The minimum deposit amount is：{{minChargeNumber}}{{coin}}，any deposit less than the amount will not be shown in your account.</li>
                            <li style="line-height: 1.5rem;">4.Make sure that computers and browsers are secure to prevent information from being tampered with or leaked.</li>
                            <li style="line-height: 1.5rem;">5.After deposit is made, please contact our customer support team for confirmation</li>
                        </ul> -->
                    </div>
                </div>
                <!-- <div class="card">
                  <div class="card-header">
                    充币记录
                  </div>
                  <div class="card-body">
                    <div class="row" style="line-height: 3rem; margin:0 -1.3rem; ">
                        <div class="col col-md-4">充币地址</div>
                        <div class="col">充值币种</div>
                        <div class="col">充值数量</div>
                        <div class="col col-md-3">最后更新</div>
                        <div class="col">充币状态</div>
                    </div>
                    <div class="row" style="line-height: 3rem; margin:0 -1.3rem;">
                        <div class="col col-md-4" style="color: #6c6c6c;">Boid3HIO34HOhogdEior</div>
                        <div class="col" style="color: #6c6c6c;">BTC</div>
                        <div class="col" style="color: #6c6c6c;">0.10000btc</div>
                        <div class="col col-md-3" style="color: #6c6c6c;">2018-3-16 10:22:28</div>
                        <div class="col" style="color: #6c6c6c;">成功</div>
                    </div>
                  </div>
                </div> -->
            </div>
        </div>
    </div>
</div>