<div class="upload-image">
  <div class="upload-left float-left">
    <div class="image-wrap">
      <img src="{{previewImgObj.previewImgFile}}" width="100%" height="100%" *ngIf="hasImage" >
    </div>
  </div>
  <div class="upload-right float-left">
    <label class="add-file">
      <input type="file" (change)="previewPic($event)">
      <span class="btn btn-659EFF" >选择文件</span>
    </label>
    <div>
      <button class="btn btn-E2E4EB" style="width: 90px;" (click)="remove()" >删除</button>
    </div>
  </div>
</div>
