<div class="container-full bg-body" style="padding-top: 6rem;">
	<div class="container">
		<div class="row" style="height: 50rem;">
			<div class="col col-md-3">
				<ul class="userinfoside">
					<li class="side-item b-menu border-152669" ui-sref="logged.userinfo"><img style="margin-right: 15px;" src="img/userinfo_0.png" >{{lang.lang146}}</li>
					<li class="side-item b-menu border-152669" ui-sref="logged.realname_userinfo"><img style="margin-right: 15px;" src="img/realname_0.png" >{{lang.lang359}}</li>
					<li class="side-item b-menu border-152669 active" ui-sref="logged.security_userinfo"><img style="margin-right: 15px;" src="img/security_1.png" >{{lang.lang148}}</li>
				</ul>
			</div>
			<!-- 修改手机 -->
			<div class="col col-md-9"  ng-if="userInfo.phone">
				<div class="card div-block" style="margin-bottom: 1rem;">
				  <div class="card-header info-header font-1">{{lang.lang233}} <small>( {{lang.lang234}} )</small></div>
				  <div class="card-body info-body">
						<form class="info-form" novalidate name="myForm" >
						  	<div class="form-group">
						  		<label>{{lang.lang235}}</label>
						      	<input type="text" class="form-control"  ng-value="userInfo.phone" disabled >
						  	</div>
					  		<div class="form-group">
					  			<label>{{lang.lang42}}</label>
					  			<div class="new_tipbox" >
							      	<div class="tip_tishi" ng-show="myForm.imageCode.$dirty &&  myForm.imageCode.$error.required">
				                    	{{lang.lang184}}
					                </div>
						      	</div>
					      		<div class="input-group">
								  	<input type="text" class="form-control" required ng-model="params.imageCode" name="imageCode" >
								  	<div class="input-group-append" ng-click="getCaptcha()" >
								    	<button class="btn code-bg padding0" type="button"><img style="width: 105px;height: 29px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
								  	</div>
								</div>
					  		</div>
					  		<div class="form-group">
					  			<label>{{lang.lang236}}</label>
					  			<div class="new_tipbox" >
							      	<div class="tip_tishi" ng-show="myForm.prePhoneCode.$dirty &&  myForm.prePhoneCode.$error.required">
					                    {{lang.lang238}}
					                </div>
						      	</div>
					  			<div class="input-group">
								  	<input type="text" class="form-control" required ng-model="params.prePhoneCode" name="prePhoneCode" >
								  	<div class="input-group-append">
								    	<button class="btn btn-code" type="button" ng-click="getphoneCodefun('sendButton_pre')" id="sendButton_pre" >{{lang.lang46}}</button>
								  	</div>
							  	</div>
					  		</div>
						  	<div class="form-group">
							  	<label>{{lang.lang237}}</label>
							  	<div class="new_tipbox" >
							      	<div class="tip_tishi" ng-show="myForm.currentPhone.$dirty &&  myForm.currentPhone.$error.required">
					                    {{lang.lang239}}
					                </div>
						      	</div>
							    <input type="text" class="form-control"  name="currentPhone" ng-model="params.currentPhone" required  >
						  	</div>
						  	<div class="form-group">
						  		<label>{{lang.lang354}}</label>
						  		<div class="new_tipbox" >
							      	<div class="tip_tishi" ng-show="myForm.currentPhoneCode.$dirty &&  myForm.currentPhoneCode.$error.required">
					                    {{lang.lang241}}
					                </div>
						      	</div>
						      	<div class="input-group">
								  	<input type="text" class="form-control" required ng-model="params.currentPhoneCode" name="currentPhoneCode" >
								  	<div class="input-group-append">
								    	<button class="btn btn-code" type="button" ng-click="getphoneCodefun('sendButton_curr')" id="sendButton_curr" >{{lang.lang46}}</button>
								  	</div>
								</div>
						  	</div>
						  	<!-- <div class="tipbox" style="margin-bottom: 1rem;">
						  							      	<div class="tip_tishi" ng-show="myForm.imageCode.$dirty &&  myForm.imageCode.$error.required">
						  				                    	{{lang.lang184}}
						  					                </div>
						  		<div class="tip_tishi" ng-show="myForm.prePhoneCode.$dirty &&  myForm.prePhoneCode.$error.required">
						  					                    {{lang.lang238}}
						  					                </div>
						  					                <div class="tip_tishi" ng-show="myForm.currentPhone.$dirty &&  myForm.currentPhone.$error.required">
						  					                    {{lang.lang239}}
						  					                </div>
						  					                <div class="tip_tishi" ng-show="myForm.currentPhoneCode.$dirty &&  myForm.currentPhoneCode.$error.required">
						  					                    {{lang.lang241}}
						  					                </div>
						  					          	</div> -->
						  	<button type="submit" class="btn btn-default btn-block" style="margin-bottom: 2rem;" ng-disabled="myForm.$invalid" ng-click="updateMobile()" >{{lang.lang208}}</button>
						</form>
				  	</div>
				</div>
			</div>
			<!-- 绑定手机 -->
			<div class="col col-md-9" ng-if="!userInfo.phone">
				<div class="card div-block" style="margin-bottom: 1rem;">
				  	<div class="card-header info-header font-1">{{lang.lang242}}</div>
				  	<div class="card-body info-body">
						<form class="info-form" novalidate name="myForm" >
					  		<div class="form-group">
					  			<label>{{lang.lang243}}</label>
					  			<div class="new_tipbox" >
							      	<div class="tip_tishi" ng-show="myForm.currentPhone.$dirty && myForm.currentPhone.$error.required">
					                    {{lang.lang182}}
					                </div>
						      	</div>
					      		<input type="text" class="form-control"  name="currentPhone" ng-model="params.currentPhone" required  >
					  		</div>
					  		<div class="form-group">
						  		<label>{{lang.lang42}}</label>
						  		<div class="new_tipbox" >
							      	<div class="tip_tishi" ng-show="myForm.imageCode.$dirty && myForm.imageCode.$error.required">
				                    	{{lang.lang184}}
					                </div>
						      	</div>
						      	<div class="input-group">
								  	<input type="text" class="form-control" aria-describedby="basic-addon2" required ng-model="params.imageCode" name="imageCode" >
								  	<div class="input-group-append" ng-click="getCaptcha()" >
								    	<button class="btn code-bg padding0" type="button"><img style="width: 105px;height: 29px;" ng-src="{{imgCode}}" alt={{lang.lang42}} ></button>
								  	</div>
								</div>
					 		</div>
						  	<div class="form-group">
						  		<label>{{lang.lang231}}</label>
						  		<div class="new_tipbox" >
							      	<div class="tip_tishi" ng-show="myForm.currentPhoneCode.$dirty && myForm.currentPhoneCode.$error.required">
					                    {{lang.lang244}}
					                </div>
						      	</div>
						      	<div class="input-group">
								  	<input type="text" class="form-control" required ng-model="params.currentPhoneCode" name="currentPhoneCode" >
								  	<div class="input-group-append">
								    	<button class="btn btn-code" type="button" ng-click="getphoneCodefun('sendButton_bind')" id="sendButton_bind" >{{lang.lang46}}</button>
								  	</div>
								</div>
						  	</div>
						  	<!-- <div class="tipbox" style="margin-bottom: 1rem;">
						  		<div class="tip_tishi" ng-show="myForm.currentPhone.$dirty && myForm.currentPhone.$error.required">
				                    {{lang.lang182}}
				                </div>
						      	<div class="tip_tishi" ng-show="myForm.imageCode.$dirty && myForm.imageCode.$error.required">
			                    	{{lang.lang184}}
				                </div>
				                <div class="tip_tishi" ng-show="myForm.currentPhoneCode.$dirty && myForm.currentPhoneCode.$error.required">
				                    {{lang.lang244}}
				                </div>
				          	</div> -->
						  	<button type="submit" class="btn btn-default btn-block" style="margin-bottom: 2rem;" ng-disabled="myForm.$invalid" ng-click="bindMobile()" >{{lang.lang209}}</button>
						</form>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>